body {
    background: #f9f9f9;
    padding-left: 15px;
    padding-right: 15px;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid lightgray;
}
th {
    background-color: #8ad3a6;
    color: white;
}
tr:nth-child(even) {background-color: #f2f2f2;}

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

th, td {
    padding: 20px;
}

#table1 {
    margin-right: 15px;
}
#table3 {
    margin-right: 15px;
    margin-left: 15px;
    width: 95%;
    alignment: center;
}
#table4 {
    margin-left: 15px;
    width: 40%;
    alignment: left;
}
caption {
    caption-side: top;
    font-size: 30px;
}
h1 {
    font-size: 40px;

}