{% extends "GenerationApp/base.html" %}
{% load staticfiles %}
{% block content %}
    <head>
        <title>Indicators of compromise</title>
    </head>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <table class="table table-hover">
                    <thead>
                    <tr align="center">
                        <th scope="col">#</th>
                        <th scope="col">Indicator of Compromise Type</th>
                        <th scope="col">Start</th>
                        <th scope="col">Stop</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr align="center">
                        <th scope="row">1</th>
                        <td>Traffic Generator</td>
                        <td>
                            <form action="{% url 'generation_app:start' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="start_1" name="ioc_gen_id" value=1>
                                <button type="submit" class="btn btn-success">Start</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'generation_app:stop' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="stop_1" name="ioc_gen_id" value=1>
                                <button type="submit" class="btn btn-danger">Stop</button>
                            </form>
                        </td>
                    </tr>
                    <tr align="center">
                        <th scope="row">2</th>
                        <td>Foreign country</td>
                        <td>
                            <form action="{% url 'generation_app:start' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="start_2" name="ioc_gen_id" value=2>
                                <button type="submit" class="btn btn-success">Start</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'generation_app:stop' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="stop_2" name="ioc_gen_id" value=2>
                                <button type="submit" class="btn btn-danger">Stop</button>
                            </form>
                        </td>
                    </tr>
                    <tr align="center">
                        <th scope="row">3</th>
                        <td>DNS</td>
                        <td>
                            <form action="{% url 'generation_app:start' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="start_3" name="ioc_gen_id" value=3>
                                <button type="submit" class="btn btn-success">Start</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'generation_app:stop' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="stop_3" name="ioc_gen_id" value=3>
                                <button type="submit" class="btn btn-danger">Stop</button>
                            </form>
                        </td>
                    </tr>
                    <tr align="center">
                        <th scope="row">4</th>
                        <td>SSH</td>
                        <td>
                            <form action="{% url 'generation_app:start' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="start_4" name="ioc_gen_id" value=4>
                                <button type="submit" class="btn btn-success">Start</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'generation_app:stop' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="stop_4" name="ioc_gen_id" value=4>
                                <button type="submit" class="btn btn-danger">Stop</button>
                            </form>
                        </td>
                    </tr>
                    <tr align="center">
                        <th scope="row">5</th>
                        <td>Denial of Service</td>
                        <td>
                            <form action="{% url 'generation_app:start' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="start_5" name="ioc_gen_id" value=5>
                                <button type="submit" class="btn btn-success">Start</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'generation_app:stop' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="stop_5" name="ioc_gen_id" value=5>
                                <button type="submit" class="btn btn-danger">Stop</button>
                            </form>
                        </td>
                    </tr>
                    <tr align="center">
                        <th scope="row">6</th>
                        <td>IRC</td>
                        <td>
                            <form action="{% url 'generation_app:start' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="start_6" name="ioc_gen_id" value=6>
                                <button type="submit" class="btn btn-success">Start</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'generation_app:stop' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="stop_6" name="ioc_gen_id" value=6>
                                <button type="submit" class="btn btn-danger">Stop</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
