{% extends "GenerationApp/base.html" %}
{% load staticfiles %}
{% block content %}
    <head>
        <title>Scenario's</title>
    </head>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr align="center">
                        <th scope="col">#</th>
                        <th scope="col">Scenario</th>
                        <th scope="col">Start</th>
                        <th scope="col">Stop</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr align="center">
                        <th scope="row">1</th>
                        <td>Botnet infection</td>
                        <td>
                            <form action="{% url 'generation_app:start' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="start_1" name="ioc_gen_id" value=1>
                                <button type="submit" class="btn btn-success">Start</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'generation_app:stop' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="stop_1" name="ioc_gen_id" value=1>
                                <button type="submit" class="btn btn-danger">Stop</button>
                            </form>
                        </td>
                    </tr>
                    <tr align="center">
                        <th scope="row">1</th>
                        <td>Phishing attack</td>
                        <td>
                            <form action="{% url 'generation_app:start' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="start_1" name="ioc_gen_id" value=1>
                                <button type="submit" class="btn btn-success">Start</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'generation_app:stop' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="stop_1" name="ioc_gen_id" value=1>
                                <button type="submit" class="btn btn-danger">Stop</button>
                            </form>
                        </td>
                    </tr>
                    <tr align="center">
                        <th scope="row">1</th>
                        <td>Brute-force attack</td>
                        <td>
                            <form action="{% url 'generation_app:start' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="start_1" name="ioc_gen_id" value=1>
                                <button type="submit" class="btn btn-success">Start</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'generation_app:stop' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="stop_1" name="ioc_gen_id" value=1>
                                <button type="submit" class="btn btn-danger">Stop</button>
                            </form>
                        </td>
                    </tr>
                    <tr align="center">
                        <th scope="row">1</th>
                        <td>Keylogger infection</td>
                        <td>
                            <form action="{% url 'generation_app:start' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="start_1" name="ioc_gen_id" value=1>
                                <button type="submit" class="btn btn-success">Start</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url 'generation_app:stop' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="stop_1" name="ioc_gen_id" value=1>
                                <button type="submit" class="btn btn-danger">Stop</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
