{% extends "detection_app/base.html" %}
{% load staticfiles %}
{% block content %}
<div>
    <table id="table3">
        <caption>The last 10 flagged IP Packets for {{ detection_tool.tool_name }}</caption>
        <tr>
            <th scope="col">Source IP</th>
            <th scope="col">Destination IP</th>
            <th scope="col">Source Port</th>
            <th scope="col">Destination Port</th>
            <th scope="col">Received Time</th>
            <th scope="col">Flagged Reason</th>
            {% if detection_tool.whitelistable %}
                <th scope="col">Whitelist?</th>
            {% endif %}
        </tr>
        {% for flagged in latest_flagged %}
            <tr>
                <td>{{flagged.packet_id.src_ip }}</td>
                <td>{{flagged.packet_id.dst_ip }}</td>
                <td>{{flagged.packet_id.src_port }}</td>
                <td>{{flagged.packet_id.dst_port}}</td>
                <td>{{flagged.packet_id.rcv_date|date:'Y-m-d H:i'}}</td>
                <td>{{flagged.flagged_reason}}</td>
                {% if detection_tool.whitelistable %}
                    <td>
                        <form action="{% url 'detection_app:whitelist' detectiontool_id=detection_tool.id operation='add'%}" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="access_list_item" name="access_list_item" value="{{flagged.packet_id.dst_ip}}">
                            <button type="submit" class="btn btn-success">Add</button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
{% block whitelist %}
    {% if detection_tool.whitelistable %}
        <div>
            <table id="table4">
                <caption>The whitelist of {{ detection_tool.tool_name }}</caption>
                <tr>
                    <th scope="col" style="width: 80%">Whitelist</th>
                    <th scope="col" style="width: 20%">Delete?</th>
                </tr>
                {% for item in whitelist %}
                    <tr>
                        <td>{{item.access_list_item}}</td>
                        <td>
                            <form action="{% url 'detection_app:whitelist' detectiontool_id=detection_tool.id operation='remove'%}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="access_list_delete_item" name="access_list_item" value="{{item.access_list_item}}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{%  endblock %}
