{% extends "detection_app/base.html" %}
{% load staticfiles %}
{% load indextags %}
{% block content %}
<div>
    <table id="table1" style="float: left;width: 49%">
        <caption>The last 10 IP Packets</caption>
        <tr>
            <th scope="col">Source IP</th>
            <th scope="col">Destination IP</th>
            <th scope="col">Source Port</th>
            <th scope="col">Destination Port</th>
            <th scope="col">Received Time</th>
        </tr>
        {% for packet in latest_packets_list %}
            <tr>
                <td>{{packet.src_ip }}</td>
                <td>{{packet.dst_ip }}</td>
                <td>{{packet.src_port }}</td>
                <td>{{packet.dst_port}}</td>
                <td>{{packet.rcv_date|date:'Y-m-d H:i'}}</td>
            </tr>
        {% endfor %}
    </table>
    <table id="table2" style="float: right;width: 49%;">
        <caption>The last 10 flagged IP Packets</caption>
        <tr>
            <th scope="col">Source IP</th>
            <th scope="col">Destination IP</th>
            <th scope="col">Source Port</th>
            <th scope="col">Destination Port</th>
            <th scope="col">Received Time</th>
            <th scope="col">Flagged by</th>
        </tr>
        {% for flagged in latest_flagged_packets_list %}
            <tr>
                <td>{{flagged.packet_id.src_ip }}</td>
                <td>{{flagged.packet_id.dst_ip }}</td>
                <td>{{flagged.packet_id.src_port }}</td>
                <td>{{flagged.packet_id.dst_port}}</td>
                <td>{{flagged.packet_id.rcv_date|date:'Y-m-d H:i'}}</td>
                <td>{{detection_tool_list|get:flagged.flag_type}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}